* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(ellipse at top, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  background-size: cover;
  height: 100vh;
  font-size: 16px;
  color: hsl(229deg, 25%, 31%);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 5px;
  padding: 12px;
  padding-left: 20px;
  width: 85%;
  max-width: 700px;
  margin: 20px auto 80px auto;
}
.scoreboard .logo {
  width: 22vw;
  max-width: 84px;
}
.scoreboard .score_wrapper {
  text-align: center;
  padding: 5% 0;
  background-color: hsl(0deg, 0%, 98%);
  width: 18vw;
  max-width: 150px;
  max-height: 115px;
  border-radius: 5px;
}
.scoreboard .score_wrapper .score_header {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  color: hsl(229deg, 64%, 46%);
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.scoreboard .score_wrapper .score_text {
  font-size: 40px;
  line-height: 75%;
}
@media screen and (min-width: 600px) {
  .scoreboard .score_wrapper .score_header {
    margin-bottom: 12px;
  }
  .scoreboard .score_wrapper .score_text {
    font-size: 60px;
  }
}
@media screen and (min-width: 600px) {
  .scoreboard .score_wrapper {
    padding: 3% 0;
  }
}

.game {
  position: relative;
  margin-bottom: 138px;
}
.game .game_wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 312px;
  max-width: 472px;
  margin: auto;
}
.game .game_wrapper > div {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 130px;
}
.game .game_wrapper > div:last-of-type {
  gap: 55px;
  margin-top: 38px;
}
.game .choice {
  position: relative;
  transition: 0.3s ease;
  margin: auto;
}
.game .choice button {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0.3rem rgba(0, 0, 0, 0.161);
  cursor: pointer;
}
.game .choice button img {
  transform: scale(0.7);
}
@media screen and (min-width: 600px) {
  .game .choice {
    transform: scale(1.47);
  }
  .game .game_wrapper {
    gap: 20px;
  }
  .game .game_wrapper > div {
    gap: 215px;
  }
  .game .game_wrapper > div:last-of-type {
    gap: 90px;
    margin-top: 75px;
  }
}
.game .choice::before,
.game .choice::after {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: -2;
}
.game .rock::before {
  background: linear-gradient(to bottom, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2), 0 0.3rem hsl(349deg, 70%, 56%);
}
.game .scissors::before {
  background: linear-gradient(to bottom, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2), 0 0.3rem hsl(40deg, 84%, 53%);
}
.game .paper::before {
  background: linear-gradient(to bottom, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2), 0 0.3rem hsl(230deg, 89%, 65%);
}
.game .lizard::before {
  background: linear-gradient(to bottom, hsl(261deg, 73%, 60%), hsl(261deg, 73%, 60%));
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2), 0 0.3rem hsl(261deg, 72%, 63%);
}
.game .spock::before {
  background: linear-gradient(to bottom, hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2), 0 0.3rem hsl(189deg, 58%, 57%);
}
.game .choice:hover {
  transform: translateY(-3%);
}
.game .game_wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-image: url(../images/bg-pentagon.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
}
.game .result_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "user_choice house_choice" "user_choice_title house_choice_title" "result_winner result_winner";
  gap: 40px;
  min-width: 300px;
  max-width: 920px;
  margin: 0 auto;
  place-items: center;
}
.game .result_wrapper .choice {
  transform: scale(1.3);
}
.game .result_wrapper .result {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: hsl(220deg, 46%, 19%);
  z-index: -3;
  display: grid;
  place-items: center;
}
.game .result_wrapper .title {
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}
.game .result_wrapper .user_choice {
  grid-area: user_choice;
}
.game .result_wrapper .house_choice {
  grid-area: house_choice;
}
.game .result_wrapper .user_choice_title {
  grid-area: user_choice_title;
}
.game .result_wrapper .house_choice_title {
  grid-area: house_choice_title;
}
.game .result_wrapper .result_winner {
  grid-area: result_winner;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 98%);
  text-align: center;
}
.game .result_wrapper .result_winner .winner_text {
  font-size: 55px;
  margin-bottom: 25px;
}
.game .result_wrapper .result_winner .play_again {
  width: 220px;
  height: 48px;
  background: hsl(0deg, 0%, 98%);
  color: hsl(229deg, 25%, 31%);
  text-transform: inherit;
  letter-spacing: 1px;
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .game .result_wrapper .choice {
    transform: scale(1.8);
  }
}
@media screen and (min-width: 600px) {
  .game .result_wrapper {
    grid-template-areas: "user_choice_title . house_choice_title" "user_choice result_winner house_choice";
  }
  .game .choice {
    transform: scale(1.5);
  }
}
.game .hidden {
  display: none;
}

.show_rules {
  width: 130px;
  height: 42px;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 5px;
  color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
}
@media screen and (min-width: 600px) {
  .show_rules {
    left: 100%;
    transform: translateX(-150%);
  }
}

.rules_wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  text-align: center;
  left: 0;
  top: 0;
  transition: opacity 0.1s ease-in-out;
}
.rules_wrapper div {
  background-color: hsl(0deg, 0%, 98%);
  height: 100%;
}
.rules_wrapper div .header {
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsl(229deg, 25%, 31%);
  padding: 70px 0;
}
.rules_wrapper div .close_rules {
  display: block;
  margin: auto;
  margin-top: 80px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hidden2 {
  display: none;
}

@media screen and (min-width: 600px) {
  .rules_wrapper {
    display: grid;
    position: absolute;
    text-align: left;
    background: rgba(0, 0, 0, 0.356);
    place-items: center;
  }
  .rules_wrapper div {
    height: 460px;
    width: 400px;
    border-radius: 5px;
    padding: 35px;
    position: relative;
  }
  .rules_wrapper div img {
    width: 100%;
    margin-top: 22px;
  }
  .rules_wrapper div .header {
    padding: 0;
  }
  .rules_wrapper div .close_rules {
    margin-top: 0;
    position: absolute;
    top: 30px;
    right: 35px;
  }
}
.hidden {
  opacity: 0;
  z-index: -2;
}/*# sourceMappingURL=style.css.map */